*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Just Me Again Down Here';
}


/* splash screen */

.intro {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #074F92;
    transition: 1s;
}

.logo-header{
    position: absolute;
    font-size: 130px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: 400;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.motto{
    position: relative;
    display:inline-block;
    bottom: -30px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.motto.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.motto.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}